<div *ngIf='playlists'>
  <h1>
    {{playlists.playlistname}}
  </h1>
  <h1>
    {{playlists.owner.username}}
  </h1> 
</div>

<app-youtube></app-youtube>

<h2>
    Current videos
</h2>
<div *ngIf='playlists'>
  <ul>
    <li *ngFor='let url of videoArray; index as i'>
      {{results[i].name}}
      <iframe width="420" height="315" [src]="url"
        frameborder="0" allowfullscreen></iframe>
      <div>
        <img (click)='deleteVideo(results[i].id)'class='delete' src='../assets/project-pics/delete.png'/>
      </div>
    </li>
  </ul>
</div>