<h2><img src="/assets/project-pics/headphones.png"/> YouList</h2>

<div class='landing-desc'>
  <p>A new way to play what</p>
  <p>you want when you want it.</p>
  <p>Made by a music lover</p>
  <p>for the music lover.</p>
</div>

<div [ngClass]="{'is-user': user, 'is-anon': anon}" >
  <div *ngIf='anon && !user' class='landing-login-signup'>
    <a class='landing-login' [routerLink]="['/auth/login']">Login</a>
    <a class='landing-signup' [routerLink]="['/auth/signup']">Sign Up</a>
  </div>
</div>