h2 {
    font-family: 'Lobster', cursive;
    font-size: 50px
}

img{
    height: 50px;
}

.landing-login-signup {
    font-size: 20px;
    text-align: center;
}

.landing-login{
    text-transform: capitalize;
    color: #3FEAF6;
    text-decoration: none;
}

.landing-login:hover {
    color: #000642;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.landing-signup{
    text-transform: capitalize;
    color: #3FEAF6;
    text-decoration: none;
}

.landing-signup:hover {
    color: #000642;
    text-transform: capitalize;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.landing-desc {
    text-align: center;
    margin-bottom: 24px;
    margin-top: -5px
}

#site-header {
    padding: 53px 0;
}
