<h1>Playlists: </h1>

<div class="loading" *ngIf="!playlists">
  loading...
</div>

<div class='playlist-container'>
  <ul class='playlist-list' *ngIf="playlists">
    <app-playlist-list [playlists]="playlists" ></app-playlist-list>
    <div>
      <a [routerLink]='["create-playlist"]'>Create a playlist</a>
    </div>
   </ul>
  </div>
  
  <!-- 
      <li *ngFor="let playlist of playlists">
        <div>
          <a [routerLink]='["single-playlist", playlist._id]'>{{playlist.playlistname}}</a>
      </div>
      </li>
  
    </ul> -->