<header id="site-header">
  <div class="container">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/user-profile', user._id]">{{user.username}}</a>
        <button (click)='logout()'>logout</button>
      </div>
      <div *ngIf="!loading && anon">
        <a [routerLink]="['/auth/login']">login</a>
        <a [routerLink]="['/auth/signup']">signup</a>
      </div>
    </div>
  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    &copy; Developed by the YouList team 2018
  </div>
</footer>
