<header id="site-header">
  <div class="container">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" class="img-thumbnail" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]='["/playlist"]'>Playlists</a></li>
                <li role="separator" class="divider"></li>
                <li><a [routerLink]="['/user-profile', user._id]">My profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a class='logout' (click)='logout()'>Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>




<!-- <nav class="navbar navbar-default"> 
    <div class='nav-icons'*ngIf="!loading && !!user">
      <a class='home' [routerLink]='["/playlist"]'>Playlists</a>
      <a class='profile'[routerLink]="['/user-profile', user._id]">My profile</a>
      <button (click)='logout()'type="button" class="btn btn-default navbar-btn">Log out</button>
    </div>
  </nav> -->