<div class='nav-playlists'>
<a [routerLink]='["/playlist"]'><img class='back' src="../assets/project-pics/back.png"/></a>
</div>

<div>
    <h2>
      {{user.username}}
    </h2>
    <div class='search'>
      <span> Search: <input (keyup)='filterPlaylists()' [(ngModel)]='term' placeholder="Search"></span>
   </div>
    <div class='playlist-container'>
        <ul>
          <li class='playlist-list' *ngFor="let playlist of filteredPlaylists">
            <div>
              <a [routerLink]='["../../playlist/single-playlist", playlist._id]'>
                {{playlist.playlistname}}
              </a>
            </div>
             <button button (click)='deletePlaylist()'>Delete playlist</button>
             <button>Edit Playlist</button>
          </li>
        </ul>
      </div>
</div>

<a [routerLink]='["../../playlist/create-playlist"]'>Create a playlist</a>