
.playlist-container a:link{
    text-decoration: none;
}

.playlist-container a:visit {
    text-decoration: none;
}

a {
    color: #3FEAF6
}

a:hover {
    color: #000642;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
} 

.trash {
    height: 19px;
    cursor: pointer;
}

.edit {
    height: 19px;
    cursor: pointer;
}

.create {
    text-align: center;
}

img {
    height: 30px;
}

.search {
    text-align: center;
}