.back {
    height: 25px
}

.playlist-container a:link{
    text-decoration: none;
}

.playlist-container a:visit {
    text-decoration: none;
}

a {
    text-transform: capitalize;
    color: blue;
}

.trash {
    height: 19px;
    cursor: pointer;
}

.edit {
    height: 19px;
    cursor: pointer;
}

.create {
    text-align: center;
}

img {
    height: 30px;
}

.search {
    text-align: center;
    margin-bottom: -3px;
}