<div>
  <h1>
    {{user.username}}
  </h1>
  <div class='search'>
    <span><input (keyup)='filterPlaylists()' [(ngModel)]='term' placeholder="Search"></span>
  </div>
  <div class='playlist-container'>
    <ul class='playlist-list'>
      <li *ngFor="let playlist of filteredPlaylists; index as i">
        <div>
          <a [routerLink]='["../../playlist/single-playlist", playlist._id]'>
            {{playlist.playlistname}}
          </a>
        </div>
        <img (click)='deletePlaylist(playlist)' class='trash' src="../assets/project-pics/trash.png"/>
        <img class='edit' (click)='editPlaylist(playlist._id)' src="../assets/project-pics/edit.png"/>
      </li>
    </ul>
  </div>
</div>

<div class='create'>
<a [routerLink]='["../../playlist/create-playlist"]'><img class='add' src="../assets/project-pics/add.png"/></a>
</div>