/* You can add global styles to this file, and also import other style files */


/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    height: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: white;
    font-family: 'Mina', sans-serif;
    font-size: 16px;
    line-height: 147%;
    background-color: black;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  h3 {}
  
  p {
    margin: 0;
  }
  
  button {
    background-color: #1245ff;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    border-radius: 11px;
  }
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: black;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: black;
    text-align: center;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .search {
    margin-bottom: 15px
  }

  input {
    border-radius: 3px;
    background:white;
    color: black;
    border: transparent;
  }

  .playlist-container {
    overflow-y: scroll;
    max-height: 179px;
    margin-bottom: 10px;
  }

  .playlist-container{
    scrollbar-face-color: linear-gradient(to right, blue, black);
    scrollbar-shadow-color: linear-gradient(to right, blue, black);
    scrollbar-highlight-color: rgb(5, 0, 0);
    scrollbar-3dlight-color: rgb(5, 0, 0);
    scrollbar-darkshadow-color: rgb(2, 0, 0);
    scrollbar-track-color: rgb(7, 0, 0);
    scrollbar-arrow-color: rgb(7, 0, 0);
}

/* Let's get this party started */
.playlist-container::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.playlist-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.playlist-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, blue, black); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
  .playlist-list {
    list-style: none;
    margin-bottom: 10px;
  }

  a {
    margin-bottom: 20px;
  }

  /* a:link, a:visited {
    background: linear-gradient(to right, blue, black);
    color: rgb(249, 248, 248);
    padding: 0px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0px solid rgb(5, 0, 0);
    border-radius: 7px;
}

a:hover, a:active {
    background-color:#2027ff;
} */

.nav-playlists {
  margin-top: 10px;
}

  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  /* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}



form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}
  
  
  /* ---- components ---- */